@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    CAAS Consulting, LLC<br />
    Chandler, AZ<br />
    <abbr title="Phone">P:</abbr>
    480-***-****
</address>

<address>
    <strong>Infor:</strong>   <a href="mailto:Support@example.com">Eric.Cassadore@CassConsult.com</a><br />
</address>