@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="border:1px solid #ffffff; box-shadow:0px 5px 10px #494949">
    <h1>Contract Probability Tracking</h1>
    <p class="lead">This application is utilized by CAAS associates to input potentional new customers and track their probability as well as manage existing projects.</p>
    <p><a href="~/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Step 1: Company</h2>
        <p><a class="btn btn-default" href="~/CompanyLists/Index">Review List of Companies &raquo;</a></p>
        <p>
            Here you can lookup company contact information and confirm a company is listed. 
            A company must be listed before entering customer information. If the company is
            listed, proceed to step 2.
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Step 2: Customers</h2>
        <p><a class="btn btn-default" href="~/Customers/Index">Review List of Customers &raquo;</a></p>
        <p>Enter customer information for possible contracts and opportunities here. There may be multiple customers from one company.</p>
        
    </div>
    <div class="col-md-4">
        <h2>Step 3: Projects</h2>
        <p><a class="btn btn-default" href="~/Projects/Index">Review List of Projects/Contracts &raquo;</a></p>
        <p>List of projects and contracts showing which are active as well as pipeline probability.</p>
        
    </div>
</div>